body {
  background-color: light-gray;
  font-family: Helvetica;
}

.progress-grid-positioner {
  position: absolute;
  top: 0;
  bottom:  0;
  left: 0;
  right: 0;
  padding: 88px;
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}


.map {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 33vw;
}

.side-bar {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 33vw;
  overflow-y: auto;
}

.information {
  padding: 7px;
}

.table-group {
  font-size: 12px;
}

.table-info {
  padding-bottom: 7px;
}

.table-name {
  font-weight: bold;
  font-size: 14px;
  vertical-align: top;
  padding-top: 7px;
  padding-bottom: 7px;
}

.table-name a {
  font-size: 11px;
}

.title {
  font-size: 15px;
  font-weight: bold;
  color: #222;
}

.section-title {
  font-size: 12px;
  font-weight: bold;
  padding-top: 7px;
}

.section {
  font-size: 12px;
  padding-left: 7px;
}

.column {
  padding: 4px;
}

.label {
  color: #777;
}

.value {
  color: #222;
}

.gone {
  display: none;
  height: 0px;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-weight: 700;
  color: #333;
  background-color: #DDD;
  padding: 7px;
  border-radius: 5px;
  display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #CCC;
}

.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}

table {
  border: 1px solid #DDD;
}

tr {
  cursor: pointer;
}

tr:hover {
  background-color: #CCC;
}

td {
  font-size: 11px;
  color: #777;
  border-bottom: 1px solid #EFEFEF;
}

th {
  font-weight: bold;
  font-size: 11px;
  font-color: #222;
}

.metadata {
  padding: 4px;
  border: 1px solid #DDD;
}

.tab {
  color: #FFF;
  background-color: #DDD;
  cursor: pointer; /* "hand" cursor */
  padding: 8px;
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
}

.tab.active {
  color: #222;
  background-color: #EFEFEF;
}

/* https://proto.io/freebies/onoff/ */

.onoffswitch {
    position: relative; width: 75px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 25px; padding: 0; line-height: 25px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 3.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 46px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
